@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-condensed {
        font-stretch: condensed;
    }
    .font-ultra-condensed {
        font-stretch: ultra-condensed;
    }
}

/* vertical line with dots per section */
main > section > article:not(:first-child) {
    margin-left: 8px;
    padding-left: 16px;
    box-sizing: border-box;
    box-shadow: -11px 8px 0px -9px black;
    position: relative;
}

main > section > article:last-child {
    box-shadow: -14px 4px 0px -12px black;
}

main > section > article:not(:first-child)::before {
    position: absolute;
    top: -14px;
    left: -9px;
    content: '∘';
    font-size: xx-large;
    font-weight: bold;
}